.propertyArea {
  width: 95%;
  padding: 10px 5px;
}

.propertyArea .propertyLabel {
  width: 100%;
  margin: 5px 0px 5px 5px;
  color: #556998;
  font-size: 15px;
  font-weight: 550;
  text-align: left;
}

.propertyArea .propertyContent {
  text-align: left;
  margin: 5px 0px 10px 5px;
  min-height: 25px;
}

.propertyArea .propertyContent .name {
  width: 55px;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px;
  color: #a09d9d;
  font-weight: 550;
}

.propertyTitle {
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a59292;
  width: 122px;
  font-size: 14px;
}

.propertyWidth,
.propertyHeight {
  border-bottom: 1px solid #a59292;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 50px;
  margin-top: 0.3rem;
  text-align: right;
  font-size: 13px;
}

.propertyComponentType {
  font-size: 14px;
  color: #a09d9d;
  font-weight: 550;
  width: 40px;
  float: left;
  padding-left: 5px;
  padding-right: 10px;
}

.propertyComponentPart {
  float: left;
  padding: 0px 10px 5px;
}

.propertyComponentPart ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.propertyDescription {
  padding: 5px 10px;
}

.propertyDescription textarea {
  resize: none;
}

.propertyRegDate,
.propertyRegName {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a59292;
  width: 162px;
  margin-left: 10px;
}

.toggleBtn {
  width: 16px;
  height: 19px;
}

.clearFix {
  clear: both;
}
